.header {
    box-shadow: 0px 2px 5px black;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header_height);
    background-color: white;
    z-index: 100;
}

.logo {
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

.title {
    padding: 7px;
    margin-left: 855px;
    font-size: 50px;
}