*, *::before, *::after {  
    box-sizing: border-box;
}

:root {
    --header-height: 150px;
    --navigation-width: 400px;
}

body {
	margin: 0px;
}

.main {
    display: flex;

    margin-top: var(--header-height);
    margin-left: var(--navigation-width)
}

img { 
    height: 100px;
}

.navigation {
    width: var(--navigation-width);
    height: 100%;
    box-shadow: 0px 3px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: var(--header-height);
    background-color: white;
} 

.posts {
    width: 100%;
}

.message {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 74vh;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
    margin-top: 25px;
    display: flex;
}

.messages {
    width: 100%;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-right: 100px;
}

.names button {
    width:200px;
}

.send {
    display: flex;
}

.send textarea {
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    resize: vertical;
    max-height: 445px;
}

.send button {
    height: 36px;
    width: 36px;
    border-radius: 100%;
}

.new-post {
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
    padding: 10px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post-textarea {
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    resize: vertical;
    min-height: 100px;
    max-height: 1000px;
}

.new-post-file-input {
    margin-top: 10px;
    width: 100%;
    font-size: 0;
    height: 30px;
}

.new-post-file-input::before {
    content: "Файл не выбран";
    font-size: 16px;
    display: block;
    text-align: center;
    width: 135px;
    height: 30px;
    line-height: calc(30px - 12px);
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    transition: 0.5s;
    cursor: pointer;
}

.new-post-file-input:hover::before {
    content: "Выберете Файл";
    background-color: rgb(245, 245, 245);
}

.message p, .message h1 {
    display: inline-block; 
}

.profile {
    margin-left: auto;
    margin-right: auto;
}

.profile-info {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    border-radius: 50px;
	display: grid;
    justify-items: center;
    align-items: center;
	grid-template-columns: 50% 50%;
	grid-template-rows: 250px 250px;	
}

.user {
	grid-column: 1/3;
}

.publication-user {
    display: flex;
}


.publication {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 25px;
    box-shadow: 0px 0px 20px black;
    border-radius: 50px;
    position: relative;
	display: grid;
    justify-items: center;
    align-items: center;
	grid-template-columns: 50% 50%;
	grid-template-rows: 250px 250px;
}

.publication-user h1 {
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.publication p {
    margin-top: auto;
    margin-bottom: auto;
}

.publication-user-photo {
    margin: 0;
    background-color: #D9D9D9;
    border: 2px solid black;
    border-radius: 100%;
}

.biography {
    font-style: italic;
    color:#BEBEBE;
}

.publication-image {
    display: block;
    height: 215px;
    border-radius: 20px;
    margin-left: 240px;
}

a {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
}

a:hover {
    box-shadow: 0px 3px 10px black;
    background-color: #F1F1F1;
}

.center {
    text-align: center;
}

.active {
    color: white;
    background-color: #c3bfbf;
}

.active:hover {
    color: white;
    background-color: #c3bfbf;
}

.error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.error-number {
    font-size: 50px;
}

.error-cause {
    font-size: 30px;
}

.counter {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.counter button {
    margin: 10px;
}

.delete-post {
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.delete-post:hover {
    transform: scale(1.5);
    color: red;
}

.delete-message {
    right: 10%;
    top: 10%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.delete-message:hover {
    transform: scale(1.5);
    color: red;
}

.like {
    position: absolute;
    bottom: 3%;
    right: 15%;
    display: flex;
}

.friends {
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 3px 10px black;
    border-radius: 50px;
    text-align: center;
}

.friends-div {
    display: flex;
    justify-content: space-between;
}

.friend {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}